{
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": ["error", "always"],
    "no-console": 2,
    "no-unused-vars": ["error", { "argsIgnorePattern": "(array|error|index|result)" }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
